#titulo {
    color: #FF0000;
    font-size: 24px;
    text-align: center;
}


.parrafo {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.parrafo:first-of-type {
    font-weight: bold;
}


